<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    {{#each products}}
        <div class="product">
            <h2>{{title}}</h2>
            <p>Precio: {{price}}</p>
            <p>Categoría: {{category}}</p>
            <!-- Agregar más detalles del producto según sea necesario -->
            <form action="/api/carts/{{cartId}}" method="POST">
                <input type="hidden" name="productId" value="{{_id}}">
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Agregar al carrito</button>
            </form>
        </div>
    {{/each}}
    <a href="/">Volver al inicio</a>
</body>
</html>
